body {
  text-align: center;
  //   zoom: 150%;
}

input {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

button {
  background-color: #e6101a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
